# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Audio / Test data (можно раскомментировать, если не хочешь коммитить аудио)
# test_data/*.wav
# test_data/*.mp3

# Logs
*.log

models/