# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ======================
# Virtual environments
# ======================
env/
venv/
ENV/
.venv/
.conda/

.ipynb_checkpoints/
pipelines/.ipynb_checkpoints/

# ======================
# Environment variables
# ======================
.env
.env.local

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/
*.swp
*.swo
*~

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Project specific
# ======================
models/
mem/
test_results/
*.log

# Аудио (раскомментируй, если не хочешь коммитить тестовые записи)
# test_data/*.wav
# test_data/*.mp3