# === Core ===
fastapi
uvicorn[standard]
python-dotenv
pydantic
requests

python-multipart

# === ASR ===
faster-whisper
pyannote.audio
torch
torchaudio

# === Multi-Agent + LLM ===
langgraph
langchain-core
groq
openai

# === Utils ===
jiwer
pydub